.grid-container {
  display: grid;
  margin: 5px auto;
  padding: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}

// .user-show-container html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td {
//   // margin: 15px;
//   padding: 0;
//   color: white;
// }
#create i {
  margin: auto 5px auto 10px;
}
#create p {
  margin: auto 10px auto 5px;
}

.display-flex {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.form-inline {
  font-weight: normal !important;
}

#user-show-navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#user-show-navbar select {
  color: black;
  text-transform: capitalize;
}

#user-show-navbar p label select input a {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.display-flex p {
  margin: 0px;
  padding: 5px 0px;
  text-align: center;
}

.display-flex a input {
  height: 22px;
}
