<table>
  <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>HandyNr</th>
    </tr>
  </thead>
  <tbody>
    <% @users = User.all %>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= user.handy_nr %></td>
    </tr>
    <% end %>
  </tbody>
</table>
