<div class="tabs">
  <%= render 'shared/tab', team: "Militär"%>
  <%= render 'shared/tab', team: "Lacrosse"%>
  <%= render 'shared/tab', team: "Family"%>
  <%= render 'shared/tab', team: "Friends"%>
</div>
