<table>
  <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>HandyNr</th>
    </tr>
  </thead>
  <tbody>
    <% @users = User.all %>
    <tr>
      <td>TFBGA</td>
      <td>24-Ball Thin Fine Pitch Ball Grid Array</td>
      <td>24</td>
      <td>6x8 mm</td>
      <td>C04-0199</td>
      <td>TD</td>
      <td>A</td>
      <td>
      <a href="http://www.microchip.com/mymicrochip/filehandler.aspx?ddocname=en595877"> View Details</a></td>
    </tr>
  </tbody>
</table>
