.card {
  width: 200px;
  max-height: 50px;
  // flex-grow: 1.5;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
//   border-radius: 50%;
// }
.card-category {
  position: absolute;
  margin: 0px 10px;
}
.card-description {
  position: relative;
  top: 30px;
  margin: 0px 10px;
  font-size: 12px;
}

.card-owner {
  display: flex;
  margin: 0px;
}

.card-owner p {
  font-size: 10px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

.card-category h4 {
  font-size: 12px;
  margin: 5px;
}
.card-d-p p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-block {
    min-height: 70px;
    margin-bottom: 8px;
}

.cards-block {
  margin-top: 30px;
}

#delete-button-card {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.card-not-shared {
  border-radius: 5px
}

.card-shared {
  border-radius: 5px
}

.shared {
  color: #f1d18a;
}
