.card {
  width: 280px;
  min-height: 200px;
  // flex-grow: 1.5;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  margin: 0px;
}
.card-description {
  position: relative;
  top: 60px;
  margin: 0px 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-category h2 {
  font-size: 24px;
  margin: 10px;
}
.card-description p {
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-block {
    min-height: 220px;
    margin-bottom: 15px;
}

.card-row {
  display: flex
}

#delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-not-shared {
  box-shadow: inset 3px 3px 28px 1px rgba(0,0,0,0.75);
  border-radius: 5px
}

.card-shared {
  box-shadow: 3px 3px 20px 0px #f1d18a;
  border-radius: 5px
}

.shared {
  color: #f1d18a;
}

