// Tab
.column-tab {
  padding: 20px 20px 0 20px;
}
.column-tab-display {
  display: flex;
}
.column-tab button {
  color: white;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}
.column-tab button i{
  margin: auto 10px;

}
.column-tab button:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.6;
}
.column-tab button.active {
  background: #f1d18a;
  color: black;
}
// .column-tab h3 {
//   font-size: 17px;
//   font-weight: bold;
//   margin-top: 0;
//   padding: 15px 0 15px 15px;
//   width: 100%;
//   text-align: left;
//   margin-bottom: 0;
// }
.column-tab p {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
}
.column-tablinks {
  background: #255965;
  flex: 0 0 25%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  // margin: 0px 20px;
  padding: 5px 0;

}
.column-tablinks{
  margin: auto 0px;
}
.column-tabs-content-container {
  // height: 20vh;
  // display: flex;
  // justify-content: space-between;
  padding: 0 20px 20px 20px;
}
.column-tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  background: #032A33;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.column-tab-content.active{
  background: #f1d18a;
}



.column {
  width: 280px;
  min-height: 200px;
  // flex-grow: 1.5;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px;
  height: 100%;
}

.column-txt {
  margin: 2px;
}

.col-form-label {
  display: none;
}

.column-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.column-category {
  // position: absolute;
  margin: 0px;
  padding: 0px;
}
.column-category h2{
  // position: absolute;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
.column-description {
  margin: 0px 10px;
  font-size: 14px;
  // font-size: 15px;
}

.column-txt p {
  font-style: italic;
}

.column-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.column-link:hover {
  opacity: 0.1;
}

.column-block {
    min-height: 220px;
    margin-bottom: 15px;
}

.column-row {
  display: flex;
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}

// .column-buttons {
//   display: flex;
//   justify-content: space-between;
// }

#button-column-delete {
  margin: auto;
  font-size: 20px;
  position: relative;
}



.column-not-shared {
  box-shadow: inset 3px 3px 28px 1px rgba(0,0,0,0.75);
  border-radius: 5px
}

.column-shared {
  box-shadow: 3px 3px 20px 0px #f1d18a;
  border-radius: 5px
}

.shared {
  color: #f1d18a;
}

.column-custom {
  display: flex;
}

.hide{
  display: none;
}

