.table-scroll {
  position:relative;
  margin: 20px;
  overflow:hidden;
  border:1px solid #000;
}
.table-wrap {
  width:100%;
  overflow:auto;
}
.table-scroll table {
  width:100%;
  margin:auto;
  border-collapse:separate;
  border-spacing:0;
}
.table-scroll th, .table-scroll td {
  padding:5px 10px;
  border:1px solid #000;
  background:#255965;
  white-space:nowrap;
  vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
  background:#255965;
  color: #f1d18a
}
.clone {
  position:absolute;
  top:0;
  left:0;
  pointer-events:none;
}
.clone th, .clone td {
  visibility:hidden
}
.clone td, .clone th {
  border-color:transparent
}
.clone tbody th {
  visibility:visible;
  color:red;
}
.clone .fixed-side {
  border:1px solid #000;
  background:#255965;
  visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}

// .inner-table{

// }

.inner-table tbody tr {
  table-layout: fixed;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  white-space: nowrap;
  width: 100%
}

.inner-table tbody tr td {
  width: 140px;
}
// .inner-table td {
//   // flex-grow: 1;
// }

.td-1{
  width: 60% !important;
  overflow: auto;
}

.td-2{
  width: 40% !important;
  text-align: right;
  overflow: visible;
}

// .main-table td {
//   // overflow: scroll;
//   // overflow:hidden;
//   white-space:nowrap;
// }
